.container-fluid text-center{
    color:#fff;
    text-align:center;
    background-image: url("https://tse3.mm.bing.net/th?id=OIP.qAQ0uiLW4CFPRk7L2eDiGAHaDs&pid=15.1&P=0&w=332&h=167");

    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
}